body,
html {
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainscreen {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 31px;
  background: #e5e5e5;
}

.mainscreen__exit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}
.mainscreen__exit-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: -0.408px;
  color: #1157a7;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.exit__text {
  margin-right: 20px;
}

.exit__img {
  width: 18px;
  height: 18px;
}

.mainscreen__information-block {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 65px 40px 54px;
  max-width: 77%;
  height: 88vh;
}

.information-block__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #424242;
}

.header__img {
  width: 8px;
  height: 17px;
  margin: 0px 20px;
}

.header__destination {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #424242;
  margin-right: 40px;
}
.header__date {
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #1157a7;
  margin-right: 15px;
}

.header__calendar-btn {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.information-block__carusel {
  margin-bottom: 10px;
  overflow-x: scroll;
  position: relative;
  display: flex;
  flex-direction: row;

  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 83.85%
  );
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.information-block__carusel::-webkit-scrollbar {
  width: 0;
}

.carusel__img-block {
  width: 164px;
  height: 149px;
  overflow: hidden;
  flex: none;
  border-radius: 10px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carusel__img {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  width: 164px;
    height: 149px;
}

.information-block__sum {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
  margin-bottom: 23px;
}

.information-block__sum span {
  color: #1157a7;
  font-weight: 600;
}

.information-block__flights {
  overflow-y: auto;
  max-height: 57%;
}

.flights__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 19px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}
.flights__description{
  display: flex;
  align-items: center;
}
.flights__block-img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}
.flights__block-data {
  font-size: 14px;
}
.flights__destination {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
  margin-bottom: 5px;
}
.flights__block-arrow {
  margin: 0px 12px;
}
.flights__date {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
  margin-bottom: 5px;
}
.flights__company {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}
.flights__block-control {
  height: 100%;
  text-align: right;
}

.mark__btn{
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.flights__block-mark {
  margin-bottom: 27px;
  width: 21px;
}
.flights__block-price {
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.flights__block-price span {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 8px;
}
